<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!-- Card at the top of page that user enters search queries into -->
    <mat-card class="search-card">
      <mat-card-title class="todos-list-title">Find To Dos</mat-card-title>
      <mat-card-content fxLayout="column">
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering in Angular (Client Side) -->
          <mat-form-field class="input-field">
            <!-- Search Box for Owner filtering -->
            <mat-label>Owner</mat-label>
            <input matInput id="todo-owner-input" placeholder="Filter by owner" [(ngModel)]="todoOwner"
              (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
          <mat-form-field class="input-field">
            <!-- Search Box for Category filtering -->
            <mat-label>Category</mat-label>
            <input matInput id="user-company-input" placeholder="Filter by company" [(ngModel)]="todoCategory"
              (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Page Break to separate List and Search cards  -->
    <br>

    <div fxLayout="row">
      <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="getTodosFromServer; else todosError">

        <!-- List view -->
        <mat-card>
          <mat-card-content>
            <mat-nav-list class="todo-nav-list">
              <h3 mat-subheader>To Do List</h3>
              <a mat-list-item *ngFor="let todo of this.filteredTodos" [routerLink]="['/todos', todo._id]"
                class="todos-list-item">
                <h2 matLine class="todo-list-owner"> {{todo.owner}} </h2>
                <p matLine class="todo-list-status"> {{todo.status}} </p>
                <h4 matLine class="todo-list-category"> {{todo.category}} </h4>
                <p matLine class="todo-list-body"> {{todo.body}} </p>
              </a>
            </mat-nav-list>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #todosError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="user-error">
      <mat-error>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>
